h1 {
    text-align: center;
}

div {
    text-align: center;
}

textarea {
    width: 250px;
    height: 7em;
    font-size: 20pt;
}

.element {
    display: inline-flex;
}

.result {
    font-size: 150%;
    color: red;
}

.footer {
    margin-top: 2em;
    padding: 1em;
    color: #666;
    font-size: 0.9em;
}
